<div class="hidden-md hidden-lg"><a href="#" class="return-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a></div>
<div class="col-md-12 navbar navbar-default navbar-fixed-bottom">
		<div class="col-md-2 credits-section txtcenter">
			<div class="footer-credits">
				<ul>
					<li>
						<a title="Twitter" target="_blank" href="https://twitter.com/cases_lu">
							<img class="logo-footer" src="{{ "/assets/img/Twitter_Social_Icon_Circle_White.png" | relative_url }}"/>
						</a>
					</li>

					<li>
						<a title="Youtube" target="_blank" href="https://www.youtube.com/user/CASESLuxembourg">
							<img class="logo-footer" src="{{ "/assets/img/youtube_social_circle_dark.png" | relative_url }}"/>
						</a>
					</li>

					<li>
						<a title="Github" target="_blank" href="https://github.com/cases-lu">
							<img class="logo-footer" src="{{ "/assets/img/github-9-512.png" | relative_url }}"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-8 credits-section txtcenter">
			<div class="footer-credits">
				Copyright © <a class="footerlink" href="https://securitymadein.lu">SMILE</a> g.i.e. {{ 'now' | date: "%Y" }}<a class="footerlink" name="footer"></a>|
				<a class="footerlink" href="https://c-3.lu">c-3.lu</a>|
				<a class="footerlink" href="https://cases.lu">cases.lu</a>|
				<a class="footerlink" href="https://circl.lu">circl.lu</a>
			</div>
		</div>
		<div class="col-md-2 credits-section txtcenter">
			<div class="footer-credits ">
				<a class="footerlink" title="About us" href="https://securitymadein.lu/contact/about/">About us</a>
				<a class="footerlink" title="Legal" href="{% link legal.md %}">Legal</a>
				<a class="footerlink" title="Privacy" href="{% link legal.md %}#privacy">Privacy</a>
			</div>
		</div>
</div>
