<!--<header class="site-header" role="banner">

<div class="wrapper">-->
{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}
<div class="media-top-right">
          <ul class="media-top-2 clearfix">
            <li>
                  <a href="/fr/accueil.html">

                    <a  href="{{ "/" | relative_url }}"><img src="{{ "/assets/img/flag_fr.png" | relative_url }}" alt="francais" title="francais">
                  </a>
                   <a href="/de/homede.html">
                    <a  href="{{ "/" | relative_url }}"><img src="{{ "/assets/img/flag_de.png" | relative_url }}" alt="Deutsch" title="Deutsch">
                  </a>
                                          </li>
          </ul>
          <div class="clearfix"></div>
        </div>


<div class="menubarpadding">
{% if page_paths %}
<nav class="navbar">
      <div class="container-fluid">
	      <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-trigger="collapse" data-target="#navbar" aria-expended="false">
		      <span class="sr-only">Toggle Navigation Menu</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      </button>
		      <a class="logo" href="{{ "/" | relative_url }}"><img src="{{ "/assets/img/logo-web-cases.lu.png" | relative_url }}" alt="{{ site.title | escape }}" /></a>

          <div class=""><p><i>CASES (Cyberworld Awareness and Security Enhancement Services) is a part of Securitymadein.lu and is specialized in the field of risk assessment, information security trainings and documents to support your quest to a more secure business</i></p></div>


	      </div>

	      
	     </div>
     </div>
</nav>
{% endif %}
</div>


<!--  </div>
</header>-->
