<div class="blocantiscroll col-md-2">
    <h2>{{ menutitle }}</h2>
    <ol class="test">
      
          
      
    {% comment %} 
    loop through the size of the list (as arrays start at 0 we decrement the value here)
    {% endcomment %}

    {% for i in (0..listlen) %}
        {% if group_cat == 1 %}
            {% assign ipage = page %}
            {% include menus/filemenu-sub.html %}
        {% else %}
            {% for ipage in pagelist %}
                {% comment %} 
                    if page.categories match a "main-page", in order to display the button with the correct Headline , they are BestPractices-ProtectingYouself, CISOApproach & SOS 
                {% endcomment %}

                {% if ipage.categories contains list-cat[i] %}
                    {% include menus/filemenu-sub.html %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
      
    </ol>
      
      
</div>