

{% assign f-cat = "f-"|append: list-cat[i] %}
{% assign id-cat = "#"|append: list-cat[i] %}
{% assign aria-cat = "collapseExample-"|append: list-cat[i] %}
{% assign class-cat = "collapse-"|append: list-cat[i] %}


{% if page.categories contains list-cat[i] or page.categories contains f-cat %}
    <button class="btn-category show" id="btncat{{ aria-cat }}" type="button" data-toggle="collapse" data-target="#{{ aria-cat }}"  aria-expanded="true" aria-controls="{{ aria-cat }}">
    <h6 class="title-blue"><span id="arrow-bullet{{ aria-cat }}">&#9662;</span>

{% else %}

    <button class="btn-category" id="btncat{{ aria-cat }}" type="button" data-toggle="collapse" data-target="#{{ aria-cat }}"  aria-expanded="false" aria-controls="{{ aria-cat }}">
    <h6 class="title-blue"><span id="arrow-bullet{{ aria-cat }}">&#9656;</span>

{% endif %}

{% if group_cat == 1 %}
    <i class="title-blue">{{ list-name[i] }}</i></h6>
    </button>
{% else %}
    <i class="title-blue">{{ ipage.title }}</i></h6>
    </button>
{% endif %}

<script>
    //change bullet if it's event "show" or not
    document.getElementById("btncat{{ aria-cat }}").onclick = function ()
    {
        if (document.getElementById('btncat{{ aria-cat }}').classList.toggle("show"))
        {
        document.getElementById('arrow-bullet{{ aria-cat }}').innerHTML ='&#9662;';
        }
        else
        {
        document.getElementById('arrow-bullet{{ aria-cat }}').innerHTML ='&#9656;';
        }
    }

</script>
<span>

    {% if page.categories contains list-cat[i] or page.categories contains f-cat %}
        <div class="{{ class-cat }} collapse in"  id="{{ aria-cat }}" expanded="true">
    {% else %}
        <div class="{{ class-cat }} collapse"  id="{{ aria-cat }}" expanded="false">
    {% endif %}

    {% for spage in pagelist %}
      {% assign postref = spage.ref | split:'::::::X::::::' %}

      {% unless currentlangrefs contains postref %}
        {% if spage.categories contains f-cat or group_cat==1 and spage.categories contains list-cat[i] %}
          {% assign temp = currentlangrefs | concat: postref %}
          {% assign currentlangrefs = temp %}
          <li style="list-style: none;">
            <a href="{{spage.url | relative_url}}" alt="{{ spage.title | escape }}">
              {% if page.url == spage.url %}
                <h6 class="list-select selected-item"><span class="selected-item-arrow">&#9656;</span> {{ spage.title }}</h6>
              {% else %}
                <h6 class="list-select">&#9657; {{ spage.title }}</h6>
              {% endif %}
            </a>
            </li>

        {% endif %}
      {% endunless %}
    {% endfor %}

    {% for slang in site.languages %}
      {% if slang == currentlang %}
        {% continue %}
      {% endif %}
      {% assign newknowhow = allknowhow | where: "lang", slang %}
      {% if newknowhow == blank or currentlang == empty or currentlang == nil %}
        {% continue %}
      {% endif %}
      {% for spage in newknowhow %}
        {% assign postref = spage.ref | split:'::::::X::::::' %}

        {% unless currentlangrefs contains spage.ref %}
          {% assign temp = currentlangrefs | concat: postref %}
          {% assign currentlangrefs = temp  %}

          {% assign temp = spage | split:'::::::X::::::' %}
          {% assign currentlangknowhow = currentlangknowhow | concat: temp %}
          <li style="list-style: none;">
            <a href="{{spage.url | relative_url}}" alt="{{ spage.title | escape }}">
              <h6 class="list-select">&#9657; {{ spage.title }} <img src="/assets/img/flags/{{ spage.lang }}.png"></h6>
            </a>
            </li>
        {% endunless %}
      {% endfor %}
    {% endfor %}
    </div>
</span>
