<div class="language-selector">
  <ul>
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %}
    <li>
      <a href="{{ post.url }}" class="{{ post.lang }}"><img src="/assets/img/flags/{{ post.lang }}.png"></a>
    </li>
  {% endfor %}

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %}
    <li>
      <a href="{{ page.url }}" class="{{ page.lang }}"><img src="/assets/img/flags/{{ page.lang }}.png"></a>
    </li>
  {% endfor %}

  {% assign services=site.services | where:"ref", page.ref | sort: 'lang' %}
  {% for service in services %}
    <li>
      <a href="{{ service.url }}" class="{{ service.lang }}"><img src="/assets/img/flags/{{ service.lang }}.png"></a>
    </li>
  {% endfor %}
  {% assign services=site.knowhow | where:"ref", page.ref | sort: 'lang' %}
  {% for service in services %}
    <li>
      <a href="{{ service.url }}" class="{{ service.lang }}"><img src="/assets/img/flags/{{ service.lang }}.png"></a>
    </li>
  {% endfor %}
  </ul>
</div>
