---
layout: default
---
<div class="blocantiscroll col-md-2"> 
  <h2>Glossary</h2>
  <ol class="test">


    {% for page in site.knowhow %}
    {% if page.url contains "glossary" %}

    <li>
      <a href="{{page.url | relative_url}}" alt="{{ page.title | escape }}">
        <h6 class="list-select">{{ page.title }}</h6>
      </a>
    </li>
    {% endif %}

    {% endfor %}



  </ol>

</div>


<div class="col-md-8">
 <div class="row-fluid row-fluid--padding">

  <div>
    {{ content | inject_anchors }}
  </div>

</div>

</div>


<div class="blocantiscroll col-md-2">
  <h2>Table of Content</h2>
  {% if page.layout == "article" %}
  {{content | toc_only}}
  {% endif %}
</div>