---
layout: default
---


<div class="row-fluid">

	<div class="col-md-7">
		<div class="well">
	    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2585.632730831921!2d6.135316!3d49.604675!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479548ce12418fa9%3A0xbb87d355ca4f5108!2s16+Boulevard+d&#39;Avranches%2C+1160+Luxembourg!5e0!3m2!1sde!2slu!4v1510220550757" frameborder="0" style="border:0; height:450px;" allowfullscreen></iframe>
	  </div>
  </div>

	<div class="col-md-5">


				<div class="container-fluid">
						<h1>{{ page.title | escape }}</h1>

						{{ content }}

						<br /><br />

						{% if page.email %}
							<div class="row">
							  <div class="col-md-2 contact-left-col-item">Email:</div>
								<div class="col-md-10">
									<a class="btn btn-link" href="amilto:{{ page.email }}"><span class="icon icon--ios-email-outline">{% include ios-email-outline.svg %}</span><span>{{ page.email }}</span></a>
								</div>
							</div>
						{% endif %}
						<br /><br />
						{% if page.twitter %}
						<div class="row">
							<div class="col-md-2 contact-left-col-item">Twitter:</div>
							<div class="col-md-10">
								<a class="btn btn-link" href="https://twitter.com/{{ page.twitter }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span><span>@{{ page.twitter }}</span></a>
							</div>
						</div>
						{% endif %}
						<br /><br />
						{% if page.github %}
						<div class="row">
							<div class="col-md-2 contact-left-col-item">Github:</div>
							<div class="col-md-10">
							{% for user in page.github %}
							<div class="row-fluid">
								<a class="btn btn-link" href="https://github.com/{{ user }}"><span class="icon icon--github">{% include icon-github.svg %}</span><span>{{ user }}</span></a>
							</div>
							{% endfor %}
							</div>
						</div>
						{% endif %}

				</div>
	</div>


</div>
