---
layout: default
---
<!--
<div class="row-fluid well--blue well--blue-padding well--blue-margin">
  <div class="container">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </div>
</div>

-->



<!-- <div class="tableofcontent col-md-2">
	{% if page.url == post.url %}
		<h2>Articles</h2>
		{% for post in posts %}
			<a href="{{post.url | relative_url}}" alt="{{ post.title | escape }}">
			<h6>{{ post.title }}</h6>
			</a>
		{% endfor %}
	{% elsif page.url == publication.url %}
	<h2>Publications</h2>
		{% for publication in site.publications %}
			<a href="{{publication.url | relative_url}}" alt="{{ publication.title | escape }}">
			<h6>{{ publication.title }}</h6>
			</a>
		{% endfor %}
	{% endif %}
</div>
 <div class="tocnavsection col-md-2">
 <!--{% for p in site.publications %}
 {% if p.tags contains '/publications/' %}
   		 {{content | toc_only}}
  {% endif %}
  {% endfor %}-->





	
<div class="row-fluid row-fluid--padding">

    		{{ content }}

</div>
    




