---
layout: default
---

<div class="row">
<div class="col-md-9">
    
    <div class="row">
    <h1>Our Services</h1>
    {% if site.services %}
    <div class="text-center">
    {% assign counter=false %}
    {% for service in site.services %}
        {% if counter==false %}
        <div class="row">
        <div class="col-md-1">
        </div>
        {% endif %}
        <a href="{{ service.url }}" alt="{{ service.title }}">
        <div class="col-md-5">
            {% if service.logo %}
                <img src="{{ service.logo }}" alt="{{ service.title }}" /><br>
            {% endif %}
            <h4>{{ service.title }}</h4>
            {% if service.short %}
            {{ service.short }}
            {% endif %}
        </div>
        </a>
        {% if counter==true %}
        </div>
        {% assign counter=false %}
        {% else %}
        {% assign counter=true %}
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}
    </div>
    <div class="row">
      <h1 class="page-heading">Posts</h1>

      {{ content }}

      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </div>
</div>
<div class="col-md-3 well">
  <h2>Latest Tweets</h2>
  <a class="twitter-timeline" data-width="300" data-height="700" data-dnt="true" href="https://twitter.com/cases_lu?ref_src=twsrc%5Etfw">CASES Updates</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
