---
layout: default
---


<div class="col-md-2"></div>


<div class="col-md-3">
    {% include home/caroussel.html %}
</div>

<div class="col-md-3">
    {% include home/informationlist.html %}
</div>

<div class="col-md-2">

  <h2>News</h2>
  <a class="twitter-timeline" data-width="300" data-height="500" data-dnt="true" href="https://twitter.com/cases_lu?ref_src=twsrc%5Etfw">CASES Updates</a> 
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>


<div class="col-md-2"></div>