---
layout: default-ext
---
{% assign knowhow = site.knowhow %}
{% assign list-cat = "ciso, bestpract, sos"|split: ", "%}
{% assign i = 0 %}
{% assign id-cat = "#" |append: list-cat[i] %}
{% assign aria-cat = "collapseExample-" |append: list-cat[i] %}
{% assign class-cat = "collapse" |append: list-cat[i] %}
{% assign f-cat = "f-" |append: list-cat[i] %}

<div class="col-md-2 ">
	<div class="row-fluid row-fluid--padding">

    <div class="blocantiscroll row-fluid col-md-2">
		<!--<h2>Knowhow</h2>
        {% for knowhow in site.knowhow %}
        <a href="{{knowhow.url | relative_url}}" alt="{{ knowhow.title | escape }}">
        <h6>{{ knowhow.title }}</h6>
        </a>
        {% endfor %}-->



        <!-- Loop to display the 3 categories and theirs pages --> 
        <h2>Knowhow</h2>
        <ol class="test">
          {% for page in knowhow %}


          {% if page.categories contains list-cat[i] %}
          <button class="btn-category" type="button" data-toggle="collapse" data-target= id-cat[i]  aria-expanded="false" aria-controls=aria-cat[i]>
            <!--<a data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample-ciso" class="categorie1" href="{{page.url | relative_url}}" alt="{{ page.title | escape }}">-->
             <h6>{{ f-cat[i] }}</h6>
           </button>
           <div class=class-cat[i] id=id-cat[i]>
            {% for page in site.knowhow %}

            {% if page.categories contains f-cat[i] %}
            <li>
              <a href="{{page.url | relative_url}}" alt="{{ page.title | escape }}">
                <h6 class="c-article">{{ page.title }}</h6>
              </a>
            </li>
            {% endif %}

            {% endfor %}
          </div>
          {% endif %}
          {% assign i = i | plus: 1 %}
{% endfor %}

        </ol>

        
          </div>
        </div>

      </div>

      <div class="col-md-8">
       <div class="row-fluid row-fluid--padding">

        <div>
          {{ content | inject_anchors }}
        </div>

      </div>

    </div>

    <div class="tocnavsection col-md-2">
      <div class="row-fluid row-fluid--padding">
        <div class="blocantiscroll col-md-2 row-fluid row-fluid--padding ">
          <h2>Table of Content</h2>
          {% if page.layout == "knowhow" %}
          {{content | toc_only}}
          {% endif %}
        </div>
      </div>
    </div>