---
layout: default
---
{% assign knowhow = site.knowhow %}

<!-- assign 0 to i in order to start the string from the beginning --> 
{% assign i = 0 %}

<!-- Layout of the left's TOC -->
<div class="blocantiscroll col-md-2">
  <h2>Knowhow</h2>
  <ol class="test">
  <!-- Sort the pages with the tag "main-categ", add each keyword to the string "list-cat" --> 
    {% assign list-cat = knowhow |map: 'main-categ' |uniq %}

<!-- loop through the size of the list -->
    {% for i in (0..list-cat.size) %}
    {% for page in knowhow %}

<!-- if page.categories match a "main-page", in order to display the button with the correct Headline , they are BestPractices-ProtectingYouself, CISOApproach & SOS -->
    {% if page.categories contains list-cat[i] %}

<!-- the other pages have a F-"list-cat" as a categorie to recognize them
  We add each categorie to a "F-" -->
    {% assign f-cat = "f-"|append: list-cat[i] %}
<!-- then we add each categorie to "#" in order to have the right ID -->
    {% assign id-cat = "#"|append: list-cat[i] %}
<!-- then we add each categorie to "collapseExample-" ans "collapse-" in order to have the right event -->
    {% assign aria-cat = "collapseExample-"|append: list-cat[i] %}
    {% assign class-cat = "collapse-"|append: list-cat[i] %}
    <button class="btn-category" id="btncat" type="button" data-toggle="collapse" data-target="#{{ aria-cat }}"  aria-expanded="false" aria-controls="{{ aria-cat }}" onclick="document.getElementById('arrow-bullet{{ aria-cat }}').innerHTML = '&#8681';">


     <h6 class="title-blue"><b id="arrow-bullet{{ aria-cat }}">&#8680;</b>{{ page.title }}</h6>
   </button>
   <div class="{{ class-cat }}" id="{{ aria-cat }}">
    {% for page in site.knowhow %}

<!-- if page.categories equals "f-cat" it means that it isn't a button, so it displays the right page-->
    {% if page.categories contains f-cat %}
    <li>
      <a href="{{page.url | relative_url}}" alt="{{ page.title | escape }}">
        <h6 class="list-select">{{ page.title }}</h6>
      </a>
    </li>
    {% endif %}

    {% endfor %}
  </div>
  {% endif %}

  {% endfor %}
  {% endfor %}

</ol>


</div>


<div class="col-md-8">
 <div class="row-fluid row-fluid--padding">

  <div>
    {{ content | inject_anchors }}
  </div>

</div>

</div>

<div class="blocantiscroll col-md-2">
  <h2>Table of Content</h2>
  {% if page.layout == "knowhow" %}
  {{content | toc_only}}
  {% endif %}
</div>