---
layout: default
---

<div class="col-md-2 col-sm-2 blocantiscroll">
	<div class="collapse navbar-collapse" id="left-panel">
		<h2>Services</h2>
		{% assign services=site.services | where:"lang", page.lang | sort: 'ref' %}
		{% for service in services %}
			{% unless service.group contains "training" %}

			<a href="{{service.url | relative_url}}" alt="{{ service.title | escape }}">
				<h6 class="btn-category"><img src="{{ service.logo }}" class="menulogo" | relative_url }}/>{{ service.title }}</h6>
			</a>
			{% endunless %}
		{% endfor %}

	</div>
</div>


<div class="col-md-8 col-sm-8 thecontent">
	<div class="row-fluid row-fluid--padding">
		{% include menus/language-selector.html %}
		<h1>{{ page.title }}</h1>
		<div>
			{{ content | inject_anchors }}
		</div>
	</div>
</div>

<div class="blocantiscroll col-md-2 col-sm-2">
	{% if page.layout == "article" %}
		{% toc %}
	{% elsif page.specialmenu == "fit4tools" %}
		<h2>&nbsp;</h2>
		<div style="width:100%;background-color:#FFFFFF;border-left: 1px solid rgb(0,114,184); padding: 10px 0 10px 10px;">
		{% include fit4tools.html %}
		</div>
	{% endif %}

</div>
