---
layout: default-ext
---

{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}
{% assign articles = site.posts |sort: 'date' |reverse %}





<div class="blocantiscroll col-md-2">
  <h2>Articles</h2>
  {% for post in articles %}
  <a href="{{post.url | relative_url}}" alt="{{ post.title | escape }}">
    <h6>{{ post.title }}</h6>
  </a>
  {% endfor %}
</div>


<div class="col-md-8">
  <p class="post-meta">
    <i class="date-italic"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      {{ page.date | date: date_format }}
    </time></i>
    {% if page.author %}
     <span>{{ page.author }}</span>
  {% endif %}</p>

  <div>
    {{ content }}
  </div>
</div>



<div class="blocantiscroll col-md-2">
  <h2>Table of Content</h2>
  {% if page.layout == "post" %}
  {{content | toc_only}}
  {% endif %}
</div>
