---
layout: default
---
{% assign pagelist = site.publications %}

{% comment %}
    Insert categories in list-cat
{% endcomment %}

{% assign list-cat = "iso, bestpractice, scams, securing"|split: ", " %}

{% comment %}
  Insert categories's name (Button)
{% endcomment %}

{% assign list-name = "ISO/IEC 27000, Good Practice, Scams, Securing Devices"|split: ", "%}
{% assign i = 0 %}

{% comment %} 
    list.cat minus 1 to not have an empty category 
{% endcomment %}


{% assign listlen = list-cat.size | minus: 1  %}

{% assign group_cat = 1 %}
{% assign menutitle = "Publications"  %}

{% include menus/filemenu.html %}




<div class="col-md-8">
  {% if site.publications %}
  <div class="row-fluid row-fluid--padding">
    {{ content }}
  </div>



  {% else %}
  <div class="row-fluid row-fluid--padding">

  </div>
  {% endif %}
</div>


{% comment %}
  if the page equals to the main page Publications there is no TOC on the right
{% endcomment %} 

{% if page.title == "Publications" %}
  <div class="col-md-2"></div>

{% else %}

  {% assign tocname="publication-list" %}
  {% include menus/toc.html %}

{% endif %}