---
layout: default
---


{% assign currentlang = page.lang %}
{% if currentlang == blank or currentlang == empty or currentlang == nil %}
  {% assign currentlang = site.default_lang %}
{% endif %}

{% assign pagelist = site.publications | sort: 'title' | where: 'lang', currentlang %}

{% assign list-cat = "iso, securing"|split: ", "|compact %}

{% assign list-name = "ISO/IEC 27000, Securing Devices"|split: ", " |compact%}
{% assign i = 0 %}

{% assign listlen = list-cat.size | minus: 1 %}

{% assign group_cat = 1 %}
{% assign menutitle = "In depth articles"  %}

{% include menus/filemenu.html %}

<div class="col-md-8 col-sm-8">
  {% if site.publications %}
  <div class="row-fluid row-fluid--padding thecontent">
    {% include menus/language-selector.html %}
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
  {% else %}
  <div class="row-fluid row-fluid--padding">
  </div>
  {% endif %}
</div>


<div class="blocantiscroll col-md-2">
  {% if page.layout == "publication-list" %}
    <h2>Table of Content</h2>
    {% toc %}
  {% endif %}
</div>
