<h2><a href="/articles-list/index.html">Articles</a></h2>
<a href="/articles-list/index.html">
    <i class="txt-hightlight">This section contains all the articles (short documents or white papers) describing a certain subject that is of interest to the community.</i>
</a>

<div class="row row-spacer"></div>

<h2><a href="{% link publications.md %}">Publications</a></h2>
<a href="{% link publications.md %}">
    <i class="txt-hightlight">Publications unites the documents that are more of a description of standards, good practices and tips on what to look for to remain secure in this cyber world.</i>
</a>

<div class="row row-spacer"></div>

<h2><a href="{{ "/knowhow/CISOApproach" | relative_url }}">Knowhow</a></h2>
<a href="{{ "/knowhow/CISOApproach" | relative_url }}">
    <i class="txt-hightlight">To secure our information, we must be aware of the potential stakes and dangers, so use our know-how. We put our skills at your disposal.</i>
</a>
