

<div class="row">

  <div class="col-md-12 servicebox" style="text-align: center;">
    <a href="{% link _services/startupkit.markdown %}">
      <img class="serviceboxpic" src="{% link assets/img/services/startupkit-CMYK_small.jpg %}" />
    </a>
    <br><img src="{% link assets/img/flags/en.png %}" class="miniflags" /> <img src="{% link assets/img/flags/fr.png %}" class="miniflags" /> <img src="{% link assets/img/flags/de.png %}" class="miniflags" />
  </div>
  <div class="col-md-12 servicebox" style="text-align: center;">
    <a href="{% link _services/diagnostic.markdown %}">
      <img class="serviceboxpic" src="{% link assets/img/services/diagnostic-CMYK_small.jpg %}" />
    </a>
    <br><img src="{% link assets/img/flags/en.png %}" class="miniflags" /> <img src="{% link assets/img/flags/fr.png %}" class="miniflags" /> <img src="{% link assets/img/flags/de.png %}" class="miniflags" />
  </div>

  <div class="col-md-12 servicebox" style="text-align: center;">
    <a href="{% link _services/monarc.markdown %}">
      <img class="serviceboxpic" src="{% link assets/img/services/monarc-CMYK_small.jpg %}" />
    </a>
    <br><img src="{% link assets/img/flags/en.png %}" class="miniflags" /> <img src="{% link assets/img/flags/fr.png %}" class="miniflags" /> <img src="{% link assets/img/flags/de.png %}" class="miniflags" />
  </div>
  <div class="col-md-12 servicebox" style="text-align: center;">
    <a href="{% link _services/trainings.markdown %}">
      <img class="serviceboxpic" src="{% link assets/img/services/trainings-CMYK_small.jpg %}" />
    </a>
    <br><img src="{% link assets/img/flags/en.png %}" class="miniflags" /> <img src="{% link assets/img/flags/fr.png %}" class="miniflags" /> <img src="{% link assets/img/flags/de.png %}" class="miniflags" />
  </div>
</div>
