

<div class="row">

  <div class="col-md-12 servicebox">
    <a href="{% link _services/startupkit.markdown %}">
      <img class="serviceboxpic" src="{% link assets/img/services/startupkit-CMYK.jpg %}" />
    </a>
  </div>
  <div class="col-md-12 servicebox">
    <a href="{% link _services/diagnostic.markdown %}">
      <img class="serviceboxpic" src="{% link assets/img/services/diagnostic-CMYK.jpg %}" />
    </a>
  </div>

  <div class="col-md-12 servicebox">
    <a href="{% link _services/monarc.markdown %}">
      <img class="serviceboxpic" src="{% link assets/img/services/monarc-CMYK.jpg %}" />
    </a>
  </div>
  <div class="col-md-12 servicebox">
    <a href="{% link _services/trainings.markdown %}">
      <img class="serviceboxpic" src="{% link assets/img/services/trainings-CMYK.jpg %}" />
    </a>
  </div>
</div>
