<div class="row"></div>

<h1>Our Services</h1>

<div class="row">

  <div class="col-md-6 servicebox">
    <a href="{% link _services/startupkit.markdown %}">
      <img src="{% link assets/img/services/startupkit.png %}" /><br>
      Startup-Kit
    </a>
  </div>
  <div class="col-md-6 servicebox">
    <a href="{% link _services/diagnostic.markdown %}">
      <img src="{% link assets/img/services/diagnostic.png %}" /><br>
      Diagnostic CASES
    </a>
  </div>

</div>

<div class="row">

  <div class="col-md-6 servicebox">
    <a href="{% link _services/monarc.markdown %}">
      <img src="{% link assets/img/services/monarc.png %}" /><br>
      MONARC
    </a>
  </div>
  <div class="col-md-6 servicebox">
    <a href="{% link _services/trainings.markdown %}">
      <img src="{% link assets/img/services/trainings.png %}" /><br>
      Trainings
    </a>
  </div>
</div>
